
<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="container">
	<div class="me">



<div class="panel panel-default">          
 <div class="panel-heading">



    <button type="button" class="btn btn-default" ng-click="FindAllCust();AllCustFun()" > Customers Details Reports</button>

<button type="button" class="btn btn-default" ng-click="findCustFun();" >Find Customer Details</button>
	 <button type="button" class="btn btn-default" ng-click="addCustFormFuc()" >Add Customers</button>
	 <button type="button" class="btn btn-default" ng-click="DeleteShowfun()" >Delete Customers</button>
	 
    </div>
    
    <div class="panel-body">
		
		
		  
                 <form name="DeleteForm" ng-show="DeleteShow" class="form-horizontal" role="form" novalidate>
					 <h3>Dlete Customer</h3>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id">Customer ID:</label>
        <div class="col-xs-2">
            <input ng-model="id" required type="text" class="form-control" id="id" placeholder="id" name="id" >

            <span style="color:red" ng-show="DeleteForm.id.$dirty && DeleteForm.id.$invalid">
<span ng-show="DeleteForm.id.$error.required">_id is required.</span>
</span>
        </div>  

    </div>
             <input type="submit" ng-disabled="DeleteForm.id.$untouched && DeleteForm.id.$invalid " ng-click="DeleteCustomer()" class="btn btn-primary">
                     <button type="button" ng-click="clearCustomerDelete()" class="btn btn-primary">Clear</button>
                            <button type="button" ng-click="hideCustomerDelete()" class="btn btn-primary">Hide</button>
        </form>
		
		<form name="myFormi" ng-show="addCustForm" ng-click="click()" class="form-inline" 
      role="form"  novalidate>
        <div class="form-group">
            <label for="ProductID">CustomerID:  </label>

               <input ng-model="CustomerID" required type="text" class="form-control"
                      id="CustomerID" placeholder="Enter CustomerID" name="CustomerID" > 

        </div>
        <div class="form-group">

            <label for="CustomerName">CustomerName:</label>

                <input ng-model="CustomerName" required type="text"class="form-control"
                   id="CustomerName" placeholder="Enter Customer Name" name="CustomerName" >

        </div>

        <div class="form-group">
            <label for="SupplierID">CompanyName:  </label>


                    <input ng-model="CompanyName" required type="text" class="form-control"
                   id="CompanyName" placeholder="Enter Company Name" name="CompanyName" >

        </div>
        <div class="form-group">
            <label for="ContactTitle">ContactTitle:</label>
                    <input ng-model="ContactTitle" type="text" class="form-control" id="ContactTitle" placeholder="Enter Contact Title:">
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>

                    <input ng-model="Address" required type="text" 
                           class="form-control" id="Address" placeholder="Address" name="Address" >
            </div>
            <div class="form-group">
                <label for="City">City:</label>


	

                 <input ng-model="City" required type="text" class="form-control"
                        id="City" placeholder="City" name="City" >
            </div>
            <div class="form-group">
                <label for="Country">Country:</label>
                <input  ng-model="Country"type="text" class="form-control" id="Country" placeholder="Country:">

            </div>
           
            <div class="form-group">
                <label for="Phone">Phone:</label>


                <input ng-model="RPhone" required type="number"
                       class="form-control" id="Phone" placeholder="Phone" name="Phone" >
            </div>

            
<br><br>

    <div class="btn-group">
         <input type="submit" ng-click="addCustomer()" ng-disabled="myFormi.Phone.$untouched && myFormi.Phone.$invalid || myFormi.Country.$untouched && myFormi.Country.$invalid || myFormi.Address.$untouched && myFormi.Address.$invalid|| myFormi.ContactTitle.$untouched && myFormi.ContactTitle.$invalid || myFormi.CompanyName.$untouched && myFormi.CompanyName.$invalid ||   myFormi.CustomerID.$untouched && myFormi.CustomerID.$invalid|| myFormi.CustomerName.$untouched && myFormi.CustomerName.$invalid " class="btn btn-primary" >
        <button type="button" class="btn btn-primary" ng-click="myFuncV3()">Hide</button>
    </div>
</form>

		
		 <form name="myForm" ng-show="FindCust" class="form-horizontal" role="form" novalidate>
                        <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
                  <label for="CustomerID">
					  CustomerID:</label></div>
                            <div class="col-xs-2">
                                <input ng-model="data6" required type="text" class="form-control" id="data" placeholder="data" name="data" >
								
								  <select ng-model="option3" class="form-control" id="sel1">
    <option>ContactName</option>
    <option>ContactTitle</option>
    <option>City</option>
    <option>CompanyName</option>
	
  </select>
								
						

                                                    <span style="color:red" ng-show="myForm._data6.$dirty && myForm.data6.$invalid">
                                    <span ng-show="myForm.data6.$error.required">ID is required.</span>
                                    </span>
                            </div>
		   </div><br>
 <div class = "row" style="padding: 2px">

	 
                        <div class="btn-group">
                     <button type="button" 
                                   ng-disabled="myForm._id.$untouched && myForm._id.$invalid " 
                                   ng-click="findCustomer();" class="btn btn-primary"> Search <span class="glyphicon glyphicon-search"></span></button>
                          <button type="button" ng-click="clear()" class="btn btn-primary"> Clear <span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" ng-click="showhide()" class="btn btn-primary"> Hide <span class="glyphicon glyphicon-chevron-up"></span></button>
	 </div></div>
                    </form>  
		
		
		
		<h3><span ng-show="Customerdelete">Customer Deleted</span></h3>
	<h3><span ng-show="NotDelete">Customer Not Deleted</span></h3>
		
		<h3><span ng-show="CustomerAdded">Customer Added</span></h3>
	<h3><span ng-show="NotAdded">Customer Not Added</span></h3>
   
		  <div class="table-responsive" ng-show="AllCust">
			
					
			  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search Results" ng-model="Data">

      </div>      
    </div>
  </form><table class="table table-hover">
        <thead>

            <tr>
                <th colspan="6"><h3>Customer Details Report</h3></th>
            </tr>
                 <tr>
						
						
						         <th text-align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'CompanyName'; sortReverse = !sortReverse"><h4>CompanyName<span class="glyphicon glyphicon-sort"></h4></span></button></th>
                        
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'ContactName'; sortReverse = !sortReverse"><h4>ContactName<span class="glyphicon glyphicon-sort"></span></h4></button></th>
						<th text-align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'ContactTitle'; sortReverse = !sortReverse"><h4>ContactTitle <span class="glyphicon glyphicon-sort"></span></h4></button></th>
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm" <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'City'; sortReverse = !sortReverse"><h4>City<span class="glyphicon glyphicon-sort"></span></h4></button></th>
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'PostalCode'; sortReverse = !sortReverse"><h4>PostalCode<span class="glyphicon glyphicon-sort"></span</h4></button></th>
						
												<th><h4>Save Updates</h4></th>
												<th><h4>Delete Rows</h4></th>					
						
					
                    </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="boss in bosses | orderBy:sortType:sortReverse| filter:Data">
						
						<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.CompanyName ">{{ boss.CompanyName || 'empty' }}
        </span>
      </td>
			
					<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.ContactName">{{ boss.ContactName || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.ContactTitle">{{ boss.ContactTitle || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.City">{{ boss.City || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.PostalCode">{{ boss.PostalCode || 'empty' }}
        </span>
      </td>	
			<td><button class="btn btn-primary" ng-click="UpdateCustomer(boss._id,boss.PostalCode,boss.City,boss.ContactTitle,boss.CompanyName,boss.ContactName )">Save Edits</button></td>		 
 <td><button class=" btn btn-danger" ng-click="DeleteCustomer2(boss._id); removeUser($index)">Delete</button></td>
						</tr>
                    <tr>
            </tbody>

		</table></div>
		<div class="table-responsive" ng-show="CustRes">
           <table  class="table table-hover">
             <thead>

            <tr>
                <th colspan="6"><h3>Customer Details Report</h3></th>
            </tr>
                    <tr>
						
						
						         <th text-align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'CompanyName'; sortReverse = !sortReverse"><h4>CompanyName<span class="glyphicon glyphicon-sort"></h4></span></button></th>
                        
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'ContactName'; sortReverse = !sortReverse"><h4>ContactName<span class="glyphicon glyphicon-sort"></span></h4></button></th>
						<th text-align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'ContactTitle'; sortReverse = !sortReverse"><h4>ContactTitle <span class="glyphicon glyphicon-sort"></span></h4></button></th>
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm" <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'City'; sortReverse = !sortReverse"><h4>City<span class="glyphicon glyphicon-sort"></span></h4></button></th>
                                            <th align="center"> <button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'PostalCode'; sortReverse = !sortReverse"><h4>PostalCode<span class="glyphicon glyphicon-sort"></span</h4></button></th>
						
												<th><h4>Save Updates</h4></th>
												<th><h4>Delete Rows</h4></th>					
						
					
                    </tr>
            </thead>
            <tbody>
            <tr ng-repeat="boss in bosses | orderBy:sortType:sortReverse| filter:Data">
						
						<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.CompanyName ">{{ boss.CompanyName || 'empty' }}
        </span>
      </td>
			
					<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.ContactName">{{ boss.ContactName || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.ContactTitle">{{ boss.ContactTitle || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.City">{{ boss.City || 'empty' }}
        </span>
      </td>	
							<td>
        <!-- editable username (text with validation) -->
        <span editable-text="boss.PostalCode">{{ boss.PostalCode || 'empty' }}
        </span>
      </td>	
			<td><button class="btn btn-primary" ng-click="UpdateCustomer(boss._id,boss.PostalCode,boss.City,boss.ContactTitle,boss.CompanyName,boss.ContactName )">Save Edits</button></td>		 
 <td><button class=" btn btn-danger" ng-click="DeleteCustomer2(boss._id); removeUser($index)">Delete</button></td>
						</tr>
                    <tr>
            </tbody>

        </table>
		        
        
		
		
		
		
		
		</div></div><div class="panel-footer"></div>        
</div></div>