<!DOCTYPE html>
<html>
<head>
<link href="../js/xeditable.css" rel="stylesheet">
	
<script src="http://d3js.org/d3.v3.min.js"></script>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
		  

<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>	
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	
	
  <style>
        body {
    background-image: url('../images/analytics.jpg');
   background-repeat:no-repeat;
    background-position:350px 200px;
		
}    
      a{color: white;}
   
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>
     
                                                                                                                                     
    <script  src="../js/controller.js"></script>                                                                                                     
   <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>                                                      <script> src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"  </script>                                                                                 
</head>



<body ng-app ="myApp" >
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
		  <a class="navbar-brand" href="#">Admin View</a>
    </div>
	   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
		
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-table fa-fw"></span> Reports <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/AdminStaffView" >Staff Reports <span class="fa fa-table fa-fw"></span></a></li>
     
     <li><a  href="#/getCustomers">Customers Reports <span class="fa fa-table fa-fw"></span></a></li>
      <li><a  href="#/ProductView">Products Reports <span class="fa fa-table fa-fw"></span></a></li>
        
          <li><a  href="#/OrdersView">Orders Reports <span class="fa fa-table fa-fw"></span></a></li>
        </ul>
      </li>
		

		
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-edit fa-fw"></span>Tickets <span class="caret"></span></a>
        <ul class="dropdown-menu">
			<li> <a  href="#/CreateTicket">My Tickets</a></li>
			<li><a href="#/StaffTickets" >Staff Tickets</a></li>
      
        </ul>
		
		</li>
		
		
		
		
		 <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Users <span class="caret"></span></a>
        <ul class="dropdown-menu">
			<li> <a  href="#/CreateProfileReports">Create Profile Reports</a></li>
			<li><a href="#/AddPersonnelReport" >Add Personnel Report</a></li>
          <li><a  href="#/reg">Register Users</a></li>
      
        </ul>
		
		</li>
		 <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-bar-chart-o fa-fw"></span> Analytics <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/chart">Employee Sales</a></li>
          <li><a href="/chart2">Customer Orders</a></li>
          <li><a href="#/chart3">Products</a></li>
			<li><a href="#/chart4">test</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
	  </div></div>
</nav>
      
   
	
	<div class = "row" style="padding: 2px">
		
		
		
	
<div class="container" >

      
      

  <div ng-view>


  </div>

</div>

	</div>

	</body>
<script  src="../js/xeditable.js"></script>  
</html>