
	<style>
  

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill:lightgreen;
}

.bar:hover {
  fill: green ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>
<div class="col-xs-8" >
  <div class="panel panel-default">          
 <div class="panel-heading">
  
	
	  
    <form class="form-inline" role="form" name ="theForm" >
	
	  <div class="form-group">
  <label for="sel1">Reports Number:</label>
  <select class="form-control" id="sel1" name="num">
    <option>10</option>
    <option>5</option>
  
  </select>
</div>
	
  <div class="form-group">
  <label for="sel1">Reports Number:</label>
  <select class="form-control" id="sel1" name="ps">
    <option>1</option>
    <option>-1</option>
  
  </select>
</div>	<button onClick="fun();dis();"type="submit" class="btn btn-warning btn-lg" id="myBtn">Submit</button>
	<button onClick="refreshPage()"  type="submit" class="btn btn-warning btn-lg" >Refresh</button>
	
	 </form></div> <div class="panel-body">
		<br><br><br><br>
	  </div>
</div>

</div>
<script>

var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var formatPercent = d3.format(".0%");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>count:</strong> <span style='color:red'>" + d.count + "</span>";
  })

var svg = d3.select(".panel-body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.call(tip);

function fun() {
	var ps = document.theForm.ps.value;
        var num = document.theForm.num.value;
	
	
	d3.json("/sales3/"+ps+"/"+num, function(error, data) {

    data.forEach(function(d) {
        d._id = d._id;
        d.count = +d.count;
    });
	
  // scale the range of the data
  x.domain(data.map(function(d) { return d._id; }));
  y.domain([0, d3.max(data, function(d) { return d.count; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("count");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d._id); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.count); })
      .attr("height", function(d) { return height - y(d.count); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
  
  function type(d) {
  d.count = +d.count;
  return d;
}

})}


	
		  </script><script>
function refreshPage(){
    window.location.reload();
} 
</script>	
<script>
function dis() {
    document.getElementById("myBtn").disabled = true;
}
</script>