<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="col-xs-12" >
	<div class="me">

<div class="panel panel-default">          
 <div class="panel-heading">
<button type="button" class="btn btn-default" ng-click="myFunc()" >Create Ticket <span class="glyphicon glyphicon-chevron-down"> </span></button>
<button type="button" class="btn btn-default" ng-click="viewmyQuieries(); myFunc2()" >View My Tickets <span class="glyphicon glyphicon-search"> </span></button>
    </div>
       <div class="panel-body">
    <form class="form-inline" role="form" ng-show="showMe">
         <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
			 <label for="querySubject">Query Subject:  </label></div><div class = "col-md-2">
            <input type="text" ng-model="querySubject" class="form-control" id="querySubject" placeholder="Enter Subject">

			 </div></div>
        
     <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
            <label for="firstName">First Name:  </label></div><div class = "col-md-2">
            <input type="text" ng-model="firstName" class="form-control" id="firstName" placeholder="Enter First Name:">

		 </div></div>
       <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
            <label for="LastName">LastName:</label></div><div class = "col-md-2">
            <input type="text" ng-model="LastName" class="form-control" id="LastName" placeholder="Enter LastName:">
		   </div></div>
        <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
            <label for="UrgentLevel">Urgent_Level:</label></div><div class = "col-md-2">
            
			
			<select ng-model="UrgentLevel" class="form-control" id="UrgentLevel" placeholder="Slect Urgent Level: ">
    <option>Hi</option>
    <option>Medium</option>
    <option>Low</option>
   
  </select>
			
			
			</div></div>
         <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
			 <label for="email">Email:</label></div><div class = "col-md-2">
            <input type="text" ng-model="email" class="form-control" id="email" placeholder="Enter Email:">
			 </div></div>
       

 <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">

            <label for="queryBody">Query Body:</label></div><div class = "col-md-2">
            
<textarea class="form-control" ng-model="queryBody" cols="50" rows="8" id="queryBody"  placeholder="Enter Body"></textarea>
       </div></div>
        <br><br>
		 <div class = "row" style="padding: 2px">
        <div class="btn-group">
            
            <button type="button"class="btn btn-primary" ng-click="addQuery();">Save <span class="glyphicon glyphicon-floppy-saved"></span></button><button type="button" ng-click="" class="btn btn-primary"> Clear <span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-primary" ng-click="myFunc()">Hide <span class="glyphicon glyphicon-chevron-up"></span></button></div>
		</div>
    </form>


           
        
    <table  class="table table-hover" ng-show="showMe2">
        <thead>
            <tr>
                <th colspan="6"><h3>Your Requests</h3></th>
            </tr>
            <tr>
                
                <th text-align="center">Request Subject</th>
                <th align="center">Request Body</th>
                <th text-align="center">Request Status</th>
                <th text-align="center">Admin Notes</th>
                
                <th text-align="center">Request Date</th>
                <th align="center">UrgentLevel</th>
                <th align="center">Email</th>
              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in rules">
            
                <td data-ng-bind="rule.querySubject" />
                <td data-ng-bind="rule.queryBody" />
                <td data-ng-bind="rule.Status" />
                <td data-ng-bind="rule.Notes" />
                <td data-ng-bind="rule.query_date" />
                <td data-ng-bind="rule.UrgentLevel" />
                <td data-ng-bind="rule.email" />
              
                
               

            <tr>
        </tbody>

    </table>
      <h3><span ng-show="Notsubmitted">Ticket not created</span></h3>
		   <h3><span ng-show="submitted">Ticket Created</span></h3>
	</div><div class="panel-footer"></div>  </div> </div>
</div>