  <div class="container">
<div class="panel panel-default">          
 <div class="panel-heading">



    <button type="button" class="btn btn-default" ng-click="click();AllCustFun()" > Customers Details Reports</button>
<button type="button" class="btn btn-default" ng-click="" >Add Customers</button>
<button type="button" class="btn btn-default" ng-click="findCustFun();" >Find Customer Details</button>
    </div>
    
    <div class="panel-body">
    <table ng-show="AllCust" class="table table-hover">
            <thead>

            <tr>
                <th colspan="6"><h3>Company Report</h3></th>
            </tr>
                    <tr>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>contact Title</th>
                        <th>City</th>
                       
                        <th>Postal-Code</th>
                    </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="boss in bosses">
                        <td data-ng-bind="boss.CompanyName" />
                        <td data-ng-bind="boss.ContactName" />
                        <td data-ng-bind="boss.ContactTitle" />
                        <td data-ng-bind="boss.City" />
                        
                        <td data-ng-bind="boss.PostalCode" />

                    <tr>
            </tbody>

        </table>
    </div></div></div>