<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="container">
	<div class="me">
<div class="panel panel-default">          
 <div class="panel-heading">



    <button type="button" class="btn btn-default" ng-click="FindAllCust();AllCustFun()" > Customers Details Reports</button>

<button type="button" class="btn btn-default" ng-click="findCustFun();" >Find Customer Details</button>
    </div>
    
    <div class="panel-body">
        
        
       <form name="myForm" ng-show="FindCust" class="form-horizontal" role="form" novalidate>
                        <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
                  <label for="CustomerID">
					  CustomerID:</label></div>
                            <div class="col-xs-2">
                                <input ng-model="_id" required type="text" class="form-control" id="_id" placeholder="_id" name="_id" >

                                                    <span style="color:red" ng-show="myForm._id.$dirty && myForm._id.$invalid">
                                    <span ng-show="myForm._id.$error.required">ID is required.</span>
                                    </span>
                            </div>
		   </div><br>
 <div class = "row" style="padding: 2px">

	 
                        <div class="btn-group">
                     <input type="submit" 
                                   ng-disabled="myForm._id.$untouched && myForm._id.$invalid " 
                                   ng-click="findCustomer();" class="btn btn-primary"  >
                          <button type="button" ng-click="clear()" class="btn btn-primary">Clear</button>
                            <button type="button" ng-click="showhide()" class="btn btn-primary">Hide</button>
	 </div></div>
                    </form>  
        
        
		<h3><span ng-show="NotFound"><br>Customer not found</span></h3>
        
        
        
    <table ng-show="AllCust" class="table table-hover">
            <thead>

            <tr>
                <th colspan="6"><h3>Customer Details Report</h3></th>
            </tr>
                    <tr><th>_id</th>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>contact Title</th>
                        <th>City</th>
                        
                        <th>Postal-Code</th>
                    </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="boss in bosses">
						<td data-ng-bind="boss._id" />
                        <td data-ng-bind="boss.CompanyName" />
                        <td data-ng-bind="boss.ContactName" />
                        <td data-ng-bind="boss.ContactTitle" />
                        <td data-ng-bind="boss.City" />
                       
                        <td data-ng-bind="boss.PostalCode" />

                    <tr>
            </tbody>

        </table>
           <table ng-show="CustRes" class="table table-hover">
            <thead>

            <tr>
                <th colspan="6"><h3>Company Report</h3></th>
            </tr>
                    <tr><th>_id</th>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>contact Title</th>
                        <th>City</th>
                       
                        <th>Postal-Code</th>
                    </tr>
            </thead>
            <tbody>
                   
                        <td data-ng-bind="bosses.CompanyName" />
                        <td data-ng-bind="bosses.ContactName" />
                        <td data-ng-bind="bosses.ContactTitle" />
                        <td data-ng-bind="bosses.City" />
                        <td data-ng-bind="bosses.PostalCode" />

                    <tr>
            </tbody>

        </table>
		   </div>  <div class="panel-footer">
	
		</div>
    </div>
    </div>
