
<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="col-xs-10" >
	<div class="me">
<div class="panel panel-default">
	<div class="panel-heading"><button type="button" class="btn btn-default" ng-click="FindAllStaff();showAllStaffFuc();" > Staff Details Report <span class="glyphicon glyphicon-search"></span> </button>

            <button type="button" class="btn btn-default" ng-click="showStaffSearchFunc()" > Find Staff Details <span class="glyphicon glyphicon-chevron-down"></span></button>
          

          
          </div>


            <div class="panel-body">
				
				
				<div class="table-responsive" ng-show="showAllStaff">
					<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search Results" ng-model="Data">

      </div>      
    </div>
  </form>
					
	
				
                        <table  class="table table-hover" >
                            <thead>
                                        <tr>
                                            <th colspan="6"><h3>Staff Details Report</h3></th>
                                        </tr>
                                        <tr>
                                            <th text-align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'LastName'; sortReverse = !sortReverse"><h4>LastName<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse"><h4>FirstName<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'Title'; sortReverse = !sortReverse"><h4>Title<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th text-align="center"><button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'City'; sortReverse = !sortReverse"><h4>City<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'Region'; sortReverse = !sortReverse"><h4>Region<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'PostalCode'; sortReverse = !sortReverse"><h4>PostalCode<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                       
									   
									   
				
						
												<th><h4>Save Updates</h4></th>
												<th><h4>Delete Rows</h4></th>
                            </thead>
                            <tbody>
                                        <tr ng-repeat="rule in rules |orderBy:sortType:sortReverse| filter:Data">
                                                      
							
        
							<td>  <span editable-text="rule.LastName">{{ rule.LastName || 'empty' }}</span> </td>	
							<td>  <span editable-text="rule.FirstName">{{ rule.FirstName || 'empty' }} </span>  </td>	
							<td>  <span editable-text="rule.Title">{{ rule.Title || 'empty' }}</span> </td>	
							<td>   <span editable-text=" rule.City">{{ rule.City || 'empty' }} </span> </td>	
							<td> <span editable-text="rule.Region">{{ rule.Region || 'empty' }} </span>   </td>	
							<td> <span editable-text="rule.PostalCode">{{ rule.PostalCode || 'empty' }}   </span>  </td>	
						   

							<td><button class="btn btn-primary" ng-click="UpdateStaff2(rule._id,rule.PostalCode,rule.City,rule.Title,rule.FirstName,rule.LastName,rule.Region )">Save Edits</button></td>		 
 <td><button class=" btn btn-danger" ng-click="DeleteStaff2(rule._id); removestaff($index)">Delete</button></td>
						</tr>
                    <tr>
            </tbody>


                        </table>

				</div>
                    <form name="myForm" ng-show="showStaffSearch" class="form-horizontal" role="form" novalidate>
                        
						 <div class = "row" style="padding: 2px">
			 
         <div class = "col-md-2">
			 <label for="name">Staff First Name:</label></div>
                            <div class = "col-md-2">
                                <input ng-model="data6" required type="text" class="form-control" id="data" placeholder="data" name="data" >
								
								  <select ng-model="option3" class="form-control" id="sel1">
    <option>LastName</option>
    <option>FirstName</option>
    <option>City</option>
    
	
  </select>
								
								
								
							 
                                                    <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                    <span ng-show="myForm.name.$error.required">Username is required.</span>
                                    </span>
                            </div>
                        </div>
<br>
 <div class = "row" style="padding: 2px">
			 
        
                        <div class="btn-group">
                            <button type="submit" 
                                   ng-disabled="myForm.name.$untouched && myForm.name.$invalid " 
                                   ng-click="FindOneStaff();" class="btn btn-primary"  > Search <span class="glyphicon glyphicon-search"></span></button>
                            <button type="button" ng-click="clearStaffSearch()" class="btn btn-primary"> Clear <span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" ng-click="hideStaffSearch()" class="btn btn-primary"> Hide <span class="glyphicon glyphicon-chevron-up"></span></button>
                        </div>
	 </div>
                    </form>

				<h3><span ng-show="NotFound"><br>Staff Memeber not found</span></h3>
                   <div class="table-responsive" ng-show="showStaff" > <table class="table table-hover" >
                       <table  class="table table-hover" >
                            <thead>
                                        <tr>
                                            <th colspan="6"><h3>Staff Details Report</h3></th>
                                        </tr>
                                        <tr>
                                            <th text-align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'LastName'; sortReverse = !sortReverse"><h4>LastName<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse"><h4>FirstName<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'Title'; sortReverse = !sortReverse"><h4>Title<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th text-align="center"><button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'City'; sortReverse = !sortReverse"><h4>City<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm" ng-click="sortType = 'Region'; sortReverse = !sortReverse"><h4>Region<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                            <th align="center"><button type="button" class="btn btn-default btn-sm"ng-click="sortType = 'PostalCode'; sortReverse = !sortReverse"><h4>PostalCode<span class="glyphicon glyphicon-sort"></span</h4></button></th>
                                       
									   
									   
				
						
												<th><h4>Save Updates</h4></th>
												<th><h4>Delete Rows</h4></th>
                            </thead>
                        <tbody>
                               <tr ng-repeat="empe in empes">
							
        		
        
							<td>  <span editable-text="empe.LastName">{{ empe.LastName || 'empty' }}</span> </td>	
							<td>  <span editable-text="empe.FirstName">{{ empe.FirstName || 'empty' }} </span>  </td>	
							<td>  <span editable-text="empe.Title">{{empe.Title || 'empty' }}</span> </td>	
							<td>   <span editable-text="empe.City">{{empe.City || 'empty' }} </span> </td>	
							<td> <span editable-text="empe.Region">{{empe.Region || 'empty' }} </span>   </td>	
							<td> <span editable-text="empe.PostalCode">{{empe.PostalCode || 'empty' }}   </span>  </td>	
						   

							<td><button class="btn btn-primary" ng-click="UpdateStaff2(rule._id,rule.PostalCode,rule.City,rule.Title,rule.FirstName,rule.LastName,rule.Region )">Save Edits</button></td>		 
 <td><button class=" btn btn-danger" ng-click="DeleteStaff2(rule._id); removestaff($index)">Delete</button></td>
						</tr>
                    <tr>
            </tbody>

                    </table>

                
                
				</div>
                


</div>
           
        <div class="panel-footer"></div>        

        </div>
</div>
</div>    
        

     
        
        
        
        
        
        
        
        
