<!DOCTYPE html>
<html>
<head>

<script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  <style>
            
      a{color: white;}
   
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>
     
                                                                                                                                          
    <script  src="../js/controller.js"></script>                                                                                                     
                                                                                                                                               <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>                                                                                                  <script>                                                                                 src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"        </script>                                                                                 
</head>



<body ng-app ="myApp">
    <nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin View</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/StaffView" >Staff</a></li>
     <li><a  href="#/reg">Register Users</a></li>
     <li> <a  href="#/makeRequests">Make Requests</a></li>
      <li><a href="#/getRequests" >Request</a></li>
   
      <li><a  href="#/getCustomers">Customers</a></li>
      <li><a  href="#/ProductView">Products</a></li>
         <li><a  href="/myCharts">Charts</a></li>
        <li><a  href="#/OrdersView">Orders</a></li>
        
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav> <ul>
  <li><a  href="#/charts">Chart1</a></li>
         <li><a  href="#/chart2">Charts 2</a></li>
        <li><a  href="#/chart2">Chart 3</a></li>
         </ul>   
    
<div class="container" >

      
      

  <div ng-view>


  </div>



</div>



</body>