<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
      .navbar-inverse {
  background-color: #337ab7;
  border-color:  #337ab7;
}
	 .panel > .panel-heading { background-color: #337ab7;
  border-color:  #337ab7;
	  color: white;}
 .panel > .panel-footer { background-color:#337ab7;
  border-color:  #337ab7;}
	 
	.navbar-inverse .navbar-nav > li > a {
    color: white;
		
}  	.navbar-inverse .navbar-nav> li > a:hover {
    color: black;
		
}  
	  
	  
	.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: Black;
  background-color: transparent;
}
	  .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: Black;
  background-color: #337ab7;
}
	  
	  
	  
	    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: Black;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: black
    background-color: #337ab7;
  }
	  
	  
	  a{

font-weight:bold;
}
     body { background-color:#e6e6ff;
    background-image: url('../images/analytics.jpg');
   background-repeat:no-repeat;
    background-position:350px 200px;
		
} 

	 div[ng-app] {  }

/* customize xeditable css */
a.editable-click { 
    color: black;
    border-bottom: solid 2px green;
} 
	  
	  
	#sidebar {
 
 top:1;
 right:1;
		padding:5;
}
  </style>
</head>
<body>
    
    
<body ng-app ="myApp">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">Staff View</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="reports" >Reports</a></li>
     
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> You have no admin access</h1>

    <hr>

  
</div>

</div>
</body>
</html>