<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="col-xs-12" >
	<div class="me">
<div class="panel panel-default">          
 <div class="panel-heading">

<button type="button" class="btn btn-default" ng-click="myFuncV3()" > New Products <span class="glyphicon glyphicon-chevron-down"></span> </button>
<button type="button" class="btn btn-default" ng-click="myFuncV4()" > Delete Products <span class="glyphicon glyphicon-chevron-down"></span> </button>

    </div>

    <div class="panel-body">


<form name="myFormi" ng-show="showMeV3" ng-click="click()" class="form-inline" 
      role="form"  novalidate>
	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
		
            <div class = "col-md-2">
            <label for="ProductID">Product_ID:  </label>
			 </div>
			  <div class = "col-md-2">
               <input ng-model="ProductID" required type="number" class="form-control"
                      id="ProductID" placeholder="ProductID" name="ProductID" > 
			 </div></div>
	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
			 
         <div class = "col-md-2">

            <label for="ProductName">Product_Name:</label>
			 </div>
			  <div class = "col-md-2">
                <input ng-model="ProductName" required type="text"class="form-control"
                   id="ProductName" placeholder="Product Name" name="ProductName" >

		</div></div>
		
		<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
            <div class = "col-md-2">
            <label for="SupplierID">Supplier_ID:  </label>

			</div>
			<div class = "col-md-2">
                    <input ng-model="SupplierID" required type="number" class="form-control"
                   id="SupplierID" placeholder="SupplierID" name="SupplierID" >

        </div>
		</div>

	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
            <div class = "col-md-2">
             <label for="CategoryID">CategoryID:</label>

			</div>
			<div class = "col-md-2">
                  <input ng-model="CategoryID" type="Number" class="form-control" id="CategoryID" placeholder="Enter CategoryID:">

        </div>
		</div>
		
	
	
	
	
	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
            <div class = "col-md-2">
              <label for="QuantityPerUnit">Quant_Per_Unit:</label>

			</div>
			<div class = "col-md-2">
                 <input ng-model="QuantityPerUnit" required type="number" 
                           class="form-control" id="QuantityPerUnit" placeholder="QuantityPerUnit" name="QuantityPerUnit" >

        </div>
		</div>
	
	
	
	
	
	
	
	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
            <div class = "col-md-2">
                <label for="UnitPrice">Unit_Price:</label>

			</div>
			<div class = "col-md-2">
                 
                 <input ng-model="UnitPrice" required type="number" class="form-control"
                        id="UnitPrice" placeholder="UnitPrice" name="QuantityPerUnit" >

        </div>
		</div>
	
	
	<div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
            <div class = "col-md-2">
                 <label for="UnitInStock">StockLevel:</label>

			</div>
			<div class = "col-md-2">
                 
                 

                <input ng-model="ReorderLevel" required type="number"
                       class="form-control" id="ReorderLevel" placeholder="ReorderLevel" name="ReorderLevel" >
        </div>
		</div>
	
	
	
	
	
	
	
		
		
		
		
		<br>
		
	


  <div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-1"></div>  <div class="btn-group">
         <button type="button" ng-click="addProduct()" ng-disabled="myFormi.ProductName.$untouched && myFormi.ProductName.$invalid ||myFormi.Discontinued.$untouched && myFormi.Discontinued.$invalid ||
                                           myFormi.ReorderLevel.$untouched && myFormi.ReorderLevel.$invalid||
                                           myFormi.UnitsOnOrder.$untouched && myFormi.UnitsOnOrder.$invalid ||
                                           myFormi.UnitInStock.$untouched && myFormi.UnitInStock.$invalid ||
                                           myFormi.QuantityPerUnit.$untouched && myFormi.QuantityPerUnit.$invalid||
                                           myFormi.SupplierID.$untouched && myFormi.SupplierID.$invalid ||
																	myFormi.ProductID.$untouched && myFormi.ProductID.$invalid" class="btn btn-primary" >Save <span class="glyphicon glyphicon-floppy-saved"></span></button><button type="button" ng-click="ClearProduct()" class="btn btn-primary"> Clear <span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-primary" ng-click="myFuncV3()">Hide <span class="glyphicon glyphicon-chevron-up"></span></button>
    </div>
</form>


		   <form name="myForm1" ng-show="showMe4" class="form-inline" 
      role="form"  novalidate>
		   
		 <div class = "row" style="padding: 2px"><div class="col-xs-2"></div>
			 
         <div class = "col-md-2">
                  <label for="Product ID">Product ID:</label>
			</div>
			<div class = "col-md-2">
            <input ng-model="id"  required type="text" class="form-control" id="id" placeholder="id" name="id" >
        </div>
	
		
		
		   </div>
		
		
	<br>
<div class="col-xs-2"></div><div class="col-xs-2"></div>
            <span style="color:red" ng-show="myForm1.id.$dirty && myForm1.id.$invalid">
<span ng-show="myForm1.id.$error.required">id is required.</span>
</span>
        
			   <button type="button" ng-disabled="myForm1.name.$untouched && myForm1.name.$invalid " ng-click="DeleteProducts()" class="btn btn-primary"  >Delete <span class="glyphicon glyphicon-remove"></span></button>
        </form>
		
		
		
		
		<h3><span ng-show="NotAdded"><br>Product Not Added</span></h3>
				<h3><span ng-show="ProductAdded">Product Added</span></h3>
		<h3><span ng-show="NotDelete">Product Not Deleted</span></h3>
		<h3><span ng-show="Deleted">Product Deleted</span></h3>
    </div>    
        <div class="panel-footer"></div></div>  

    </div>        
			</div></div></div></div>