<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  <style>

 
  
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>

                                                                                                                                                              <script  src="../js/controller.js"></script>                                                                                                     
                                                                                                                                                               <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>     
    <style>
                
   
       
    </style>
</head>
<body>
    
    
    
    
<body ng-app ="myApp" ng-controller="test" ng-init="init()">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= user.local.email %></div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/reports" >Reports</a></li>
     <li><a href="/chart" >Charts</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
    
    
<div class="container">

	
	
	
	
	
	
	
	
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Welcome  <%= user.local.email %></h1>
      
    </div>

   </div>
<div class="container" >
	
 	
	<button type="button" class="btn btn-default" ng-click="me()" >Find my Reports</button>
	
	  <table  class="table table-hover">
            <thead>

            <tr>
                <th colspan="6"><h3>My Reports/Charts</h3></th>
            </tr>
                    <tr>
                        
                    </tr>
            </thead>
            <tbody>
	
	<tr ng-repeat="result in results">
    <td><a href="#/StaffView2">FirstReport</a></td>
    <td><a ng-href="#/{{result.myreports2}}">{{result.myreports2}}</a></td>
    <td><a ng-href="#/{{result.myreports3}}">{{result.myreports3}}</a></td>
		<td><a ng-href="#/{{result.myreports1}}">{{result.myreports1}}</a></td>
</tr>
	 </tbody>

        </table>
	
    <div ng-view>


  </div>


        

  



</div>
            
        

    </div>

</div>
</body>
</html>