<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  <style>
     body {
    background-image: url('../images/analytics.jpg');
   background-repeat:no-repeat;
    background-position:350px 200px;
		
} 
 
  
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>

                                                                                                                                                              <script  src="../js/controller.js"></script>                                                                                                     
                                                                                                                                                               <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>     
    <style>
                
   
       
    </style>
</head>
<body>
    
    
    
    
<body ng-app ="myApp" ng-controller="test" ng-init="me()">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= user.local.email %></div>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="#/StaffReports" >Staff Reports</a></li>
     
      <li><a  href="#/ManCustomersReports">Customers Reports</a></li>
      <li><a  href="#/ProductView">Products Reports</a></li>
        
        <li><a  href="#/OrdersView">Orders Reports</a></li>
       <li> <a  href="#/CreateTicket">Tickets</a></li>>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Analytics <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/chart">Employee Sales</a></li>
          <li><a href="/chart2">Customer Orders</a></li>
          <li><a href="/chart3">Products</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">My Reports <span class="caret"></span></a>
        
		   <ul class="dropdown-menu" ng-repeat="result in results">
    <li><a ng-href="#/{{result.myreports1}}">{{result.myreports1}}</a></li>
    <li><a ng-href="#/{{result.myreports2}}">{{result.myreports2}}</a></li>
    <li><a ng-href="#/{{result.myreports3}}">{{result.myreports3}}</a></li>
	<li><a ng-href="#/{{result.myreports1}}">{{result.myreports4}}</a></li>
    <li><a ng-href="#/{{result.myreports2}}">{{result.myreports5}}</a></li>
    <li><a ng-href="#/{{result.myreports3}}">{{result.myreports6}}</a></li>	
	<li><a ng-href="#/{{result.myreports2}}">{{result.myreports7}}</a></li>
    <li><a ng-href="#/{{result.myreports3}}">{{result.myreports8}}</a></li>	
  
		
		  </ul>
		</li></ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
    
    
<div class="container">


 	
	
	
    <div ng-view>


  </div>


        

  



</div>
            
        

    </div>

</div>
</body>
</html>