<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <style>
                
      a{color: white;}
       
    </style>
</head>
<body>
    
    
    
    
<body ng-app ="myApp">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Staff View</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/reports" >Reports</a></li>
     <li><a href="/chart" >Charts</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
    
    
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Welcome  <%= user.local.email %></h1>
      
    </div>
<div class="jumbotron text-center">
    
   <h1><span></span>Home</h1>
       <div class="btn-group">
           
            
    </div>
  </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>