<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Hego Reports</title>
	<link href="../js/xeditable.css" rel="stylesheet">

	<script src="http://d3js.org/d3.v3.min.js"></script>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
	
	<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
 
 
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
 
	<script> src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"  </script>  

  <style>
	  	  .navbar-inverse {
  background-color: #337ab7;
  border-color:  #337ab7;
}
	 .panel > .panel-heading { background-color: #337ab7;
  border-color:  #337ab7;
	  color: white;}
 .panel > .panel-footer { background-color:#337ab7;
  border-color:  #337ab7;}
	 
	.navbar-inverse .navbar-nav > li > a {
    color: white;
		
}  	.navbar-inverse .navbar-nav> li > a:hover {
    color: black;
		
}  
	  
	  
	.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: Black;
  background-color: transparent;
}
	  .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: Black;
  background-color: #337ab7;
}
	  
	  
	  
	    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #337ab7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: Black;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: black
    background-color: #337ab7;
  }
	  
	  
	  a{

font-weight:bold;
}
     body { background-color:#e6e6ff;
    background-image: url('../images/analytics.jpg');
   background-repeat:no-repeat;
    background-position:350px 200px;
		
} 

	 div[ng-app] {  }

/* customize xeditable css */
a.editable-click { 
    color: black;
    border-bottom: solid 2px green;
} 
	  
	  
	#sidebar {
 
 top:1;
 right:1;
		padding:5;
}
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>

                                                                                                                                                              <script  src="../js/controller.js"></script>                                                                                                                                                                                                                                                           <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>     
    <style>
                
   
       
    </style>
</head>

    
    
    
    
<body ng-app ="myApp" ng-controller="test" ng-init="me()">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
		<div class="navbar-brand"><%= user.local.email %></div>
    </div>
    <ul class="nav navbar-nav">
		
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-table fa-fw"></span> Reports <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/StaffReports" >Staff Reports <span class="fa fa-table fa-fw"></span></a></li>
     
      <li><a  href="#/ManCustomersReports">Customers Reports <span class="fa fa-table fa-fw"></span></a></li>
      <li><a  href="#/ProductView">Products Reports <span class="fa fa-table fa-fw"></span></a></li>
        
        <li><a  href="#/OrdersView">Orders Reports <span class="fa fa-table fa-fw"></span></a></li>
        </ul>
      </li>
		
		
		
		
		
		
		
		
		
   
       
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-bar-chart-o fa-fw"></span> Analytics <span class="caret"></span></a>
        <ul class="dropdown-menu">
			<li><a href="/chart"><span class="fa fa-bar-chart-o fa-fw"></span> Employee Sales</a></li>
          <li><a href="/chart2"><span class="fa fa-bar-chart-o fa-fw"></span> Customer Orders</a></li>
          <li><a href="#/chart3"><span class="fa fa-bar-chart-o fa-fw"></span> Products</a></li>
			<li><a href="#/chart4"><span class="fa fa-bar-chart-o fa-fw"></span> test</a></li>
        </ul>
      </li>
		<li> <a  href="#/CreateTicket"><span class="fa fa-edit fa-fw"></span> Tickets </a></li>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
	
	
	
	<div class = "row" style="padding: 2px">
    <div class="col-xs-4 col-sm-2" id="sidebar" >
<div class="panel panel-default">
	<div class="panel-heading"><h4>My Reports</h4></div> 
<ul class="list-group" ng-repeat="result in results">
	
		  
  <li class="list-group-item"><a ng-href="#/{{result.myreports1}}">{{result.myreports1}}</a></li>
    <li class="list-group-item"><a ng-href="#/{{result.myreports2}}">{{result.myreports2}}</a></li>
    <li class="list-group-item"><a ng-href="#/{{result.myreports3}}">{{result.myreports3}}</a></li>
	<li class="list-group-item"><a ng-href="#/{{result.myreports4}}">{{result.myreports4}}</a></li>
    <li class="list-group-item"><a ng-href="#/{{result.myreports5}}">{{result.myreports5}}</a></li>
    <li class="list-group-item"><a ng-href="#/{{result.myreports6}}">{{result.myreports6}}</a></li>	
	<li class="list-group-item"><a ng-href="#/{{result.myreports7}}">{{result.myreports7}}</a></li>
    <li class="list-group-item"><a ng-href="#/{{result.myreports8}}">{{result.myreports8}}</a></li>	
  </ul>
		</div></div>
	  


		
		

	
    <div ng-view>


  </div>



</div>
            
	
	

 


</body>
	<script  src="../js/xeditable.js"></script>  
</html>