<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  <style>

      a{color: white;}
  
  </style>
   <script src="https://code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>

                                                                                                                                                              <script  src="../js/controller.js"></script>                                                                                                     
                                                                                                                                                               <script src="//code.angularjs.org/1.5.0/angular-route.min.js"></script>                                                                                                            
</head>



<body ng-app ="myApp">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Staff View</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/StaffView2" >Staff</a></li>
     
      <li><a  href="#/getCustomers2">Customers</a></li>
      <li><a  href="#/ProductView">Products</a></li>
        <li> <a  href="#/makeRequests">Make Requests</a></li>
        <li><a  href="#/OrdersView">Orders</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
  
<div class="container" >
 
    <div ng-view>


  </div>


        

  



</div>



</body>
