
<style> .me {
   
   

    box-shadow: 2px 2px 1px 1px grey;
}</style>
<script></script>
<div class="container">
	<div class="me">
<div class="panel panel-default">          
 <div class="panel-heading">



<button type="button" class="btn btn-default" ng-click="FindQueries(); myFunc()" >View Tickets</button>
	</div><div class="panel-body"><br>
   
      
    <div class="panel panel-default" ng-show="showMe">

       
    <table  class="table table-hover" >
        <thead>
            <tr>
                <th colspan="6"><h3>Open Staff Requests</h3></th>
            </tr>
            <tr>
                
                <th text-align="center">Ticket Subject</th>
                <th align="center">Ticket Body</th>
                <th text-align="center">Status</th>
                <th text-align="center">Ticket Date</th>
                
                
                <th align="center">UrgentLevel</th>
                <th align="center">Email</th>
                <th text-align="center">LastName</th>
                <th align="center">FirstName</th>
				 <th text-align="center">Update</th>
				<th text-align="center">Update</th>
             
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="rule in rules |orderBy:sortType:sortReverse| filter:Data">
      
                                <td>
                                    <span editable-text="rule.querySubject">{{ rule.querySubject || 'empty' }} </span>
                                </td>
                                <td>
                                    <span editable-text="rule.queryBody">{{ rule.queryBody || 'empty' }}</span>
                                </td>
                                <td>
                                    <span editable-text=" rule.Status">{{rule.Status || 'empty' }} </span>
                                </td>
                                <td>
                                    <span editable-text="rule.query_date">{{rule.query_date || 'empty' }} </span>
                                </td>
                                <td>
                                    <span editable-text="rule.UrgentLevel">{{rule.UrgentLevel || 'empty' }}   </span>
                                </td>

     <td>                         <span editable-text=" rule.email">{{rule.email || 'empty' }} </span>
                                </td>
                                <td>
                                    <span editable-text="rule.lastName">{{ rule.lastName|| 'empty' }} </span>
                                </td>
                                <td>
                                    <span editable-text="rule.firstName">{{ rule.firstName|| 'empty' }}   </span>
                                </td>
				  <td>
                                    <span editable-text="rule.Notes">{{ rule.Notes|| 'empty' }}   </span>
                                </td>
                             
                             
                 <td>
                                    <button class="btn btn-primary" ng-click="UpdateRequests(rule._id,rule.querySubject,
                                                                                  rule.queryBody,rule.query_date,rule.firstName,rule.lastName,rule.email,rule.UrgentLevel,rule.Status,rule.Notes )">Save Edits
                                    </button>
                                </td>
                                <td>

            <tr>
        </tbody>

		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
    </table>
      
        </div>       
	</div><div class="panel-footer"></div> </div></div>
</div>